// Javascript
script(src="/js/jquery-1.11.3.min.js")
script(src="/js/lcars.js")

// Sounds
audio#beep1(src="/audio/beep1.wav" preload="auto")
audio#beep2(src="/audio/beep2.wav" preload="auto")
audio#disabled1(src="/audio/disabled1.wav" preload="auto")
audio#disabled2(src="/audio/disabled2.wav" preload="auto")